* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.time-select,
.player-container,
.sound-picker {
  height: 80%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.player-container {
  position: relative;
}
.player-container svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 50%;
}
.time-display {
  position: absolute;
  bottom: 10%;
  color: #fff;
  font-size: 50px;
}
/* .time-select {
    background: lightblue;
}
.player-container {
    background: lightgreen;
}
.sound-picker {
    background: lightcoral;
} */

.time-select button,
.sound-picker button {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease;
  width: 30%;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
}
.time-select button:hover {
  background-color: #fff;
  color: #000;
}
.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 30px;
}
.sound-picker button:nth-child(1) {
    background: #4971a1;
}
.sound-picker button:nth-child(2) {
    background: #a14f49;
}
.sound-picker button img {
    height: 100%;
}
video {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
}
